<a mat-button routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="goTo('/')"><span
                [innerHtml]="'home_menu_home'|translate"></span></a>
<a mat-button routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="goTo('/team')"><span
                [innerHtml]="'home_menu_team'|translate"></span></a>
<a mat-button routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="goTo('/aboutus')"><span
                [innerHtml]="'home_menu_aboutus'|translate"></span></a>
<a mat-button routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="goTo('/mission')"><span
                [innerHtml]="'home_menu_mission'|translate"></span></a>
<!-- <a mat-button routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
    (click)="goTo('/domains')"><span [innerHtml]="'home_menu_domains'|translate" ></span></a> -->
<a mat-button routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        (click)="goTo('/collaborations')"><span [innerHtml]="'home_menu_collaborations'|translate"></span></a>
<a mat-button routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="goTo('/contacts')"
        class="last-item"><span [innerHtml]="'home_menu_contacts'|translate"></span></a>