<!-- <page-title mainTitle="mission_main_title" subtitle="mission_main_subtitle"></page-title> -->
<div class="mission">
    <div class="content mission-content">
        <div [innerHTML]="missionContentShort" class="mission-content"></div>
        <button mat-button class="btn-show-all" (click)="showAll = true" *ngIf="!showAll"><span
                translate>show_all</span></button>
        <div [innerHTML]="missionContentFull" *ngIf="showAll"></div>
        <!-- <div class="choose-image">Immagini
            <span role="button" (click)="imageIndex=0">1</span>&nbsp;
            <span role="button" (click)="imageIndex=1">2</span>&nbsp;
            <span role="button" (click)="imageIndex=2">3</span>&nbsp;
            <span role="button" (click)="imageIndex=3">4</span>&nbsp;
            <span role="button" (click)="imageIndex=4">5</span>&nbsp;
        </div> -->
    </div>
    <div class="mission-image">
        <img src="assets/images/mission/{{missionImages[imageIndex]}}.jpg">
    </div>

</div>