<page-title mainTitle="mission_main_title" subtitle="mission_main_subtitle"></page-title>
<div class="mission">
    <div class="mission-image">
        <img src="assets/images/mission/marta_claudia.jpg">
    </div>
    <div class="content mission-content">
        <div [innerHTML]="missionContentShort" class="mission-content"></div>
        <button mat-button class="btn-show-all" (click)="showAll = true" *ngIf="!showAll"><span
                translate>show_all</span></button>
        <div [innerHTML]="missionContentFull" *ngIf="showAll"></div>
    </div>

</div>