<mat-toolbar class="main-footer">
    <mat-toolbar-row class="first-row">
        <div class="first-row-left">
            <h1>STUDIO MARTA FRANCESCHETTI <small>UFFICIO STAMPA, COMUNICAZIONE & P.R.</small></h1>
        </div>
        <span class="menu-spacer"></span>
        <div>
            <a target='_blank' href="https://www.facebook.com/ufficiostampamartafranceschetti" title="Facebook">
                <mat-icon class="icon">facebook</mat-icon>
            </a>
        </div>
        <div>
            <a target='_blank' href="https://www.linkedin.com/in/marta-franceschetti-89316a1b/" title="Linkedin">
                <mat-icon class="icon">linkedin</mat-icon>
            </a>
        </div>
    </mat-toolbar-row>

    <mat-toolbar-row class="second-row">
        &copy; Copyright {{year}}: <a href="#">martafranceschetti.com</a>
    </mat-toolbar-row>
</mat-toolbar>