<!-- <page-title mainTitle="collaborations_main_title"></page-title> -->
<div class="page-container">
    <ng-container *ngIf="collaborations">
        <div *ngFor="let s of collaborations" class="collaboration-section {{s.section}}">
            <h2 class="collaboration-section-title" translate>collaboration_{{s.section}}</h2>
            <div class="collaboration-section-subtitle" translate>collaboration_subtitle_{{s.section}}</div>
            <ul>
                <li *ngFor="let c of s.values">
                    <a href="{{c.link}}" target="_blank">
                        <span class="text">{{c.name}}</span>
                        <mat-icon class="icon mute">open_in_new</mat-icon>
                    </a>
                </li>
            </ul>
        </div>
    </ng-container>
</div>