<!-- <page-title mainTitle="contacts_main_title"></page-title> -->
<div class="page-container">
    <div class="contact-image">
        <img src="assets/images/contacts/marta_claudia.jpg">
    </div>
    <div class="contacts">
        <ng-container *ngIf="contacts">
            <div *ngFor="let c of contacts" class="contact contact-{{c.key}}">
                <h2 class="contact-name">{{c.name}}</h2>
                <div class="contact-email">
                    <a href="mailto:{{c.email}}" target="_blank">
                        <fa-icon [icon]="faEnvelope" class="icon">alternate_email</fa-icon>
                        {{c.email}}
                    </a>
                </div>
            </div>
        </ng-container>
    </div>
</div>