@use "sass:map"
@import '../../../_variables.scss'

.page-container
    display: flex
    width: 100%
    justify-content: space-between
    @media (max-width: 767.98px)
        flex-direction: column
    .contact
        background: white
        box-shadow: $box-shadow
        color: darken($color-contact,10%)
        flex-basis: 31%
        @media (max-width: 767.98px)
            flex-basis: 100%
            margin-bottom: 2rem
        .contact-feature
            border-bottom: solid 1px darken($color-contact,10%)
        &.contact-martafranceschetti
            .contact-name
                background-color: rgba($color-contacts-martafranceschetti,.5)
            .contact-feature
                background-color: rgba($color-contacts-martafranceschetti,.5)
                border-color: rgba($color-contacts-martafranceschetti,1)
        &.contact-claudiaapostolo
            .contact-name
                background-color: rgba($color-contacts-claudiaapostolo,.5)
            .contact-feature
                background-color: rgba($color-contacts-claudiaapostolo,.5)
                border-color: rgba($color-contacts-claudiaapostolo,1)
        &.contact-alessiabelli
            .contact-name
                background-color: rgba($color-contacts-alessiabelli,.6)
            .contact-feature
                background-color: rgba($color-contacts-alessiabelli,.6 )
                border-color: rgba($color-contacts-claudiaapostolo,1)
        .contact-name
            padding: .5rem 2rem
            font-weight: 900
            text-align: center
            font-family: $font-family-h2
            text-transform: uppercase
            margin-bottom: 0
        .contact-feature
            padding: .5rem 2rem
            text-align: center
            font-weight: 400
            font-family: $font-family-h2
            text-transform: uppercase
        .contact-email
            text-align: center
            font-weight: 400
            background-color: white
            text-decoration: none
            display: flex
            align-items: center
            width: 100%
            font-size: 1rem
            line-height: 1.6
            color: black
            @media (max-width: 767.98px)
                word-break: break-word
            .icon
                padding: 2rem .25rem 2rem 1rem
                text-align: center
                color: $third
            .email
                flex-grow: 1
                padding: 2rem 1rem 2rem .25rem
                text-align: left
                font-size: 1.2rem
            &:hover
                background: rgba($third, .1)
