<app-main-header></app-main-header>
<div class="main-body" role='main' aria-label='Main Content'>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
  <!--
    <div >
    <ul class="side-menu">
      <li><a [routerLink]="'/'" class="item-home">
          <span class="text" translate>main_menu_home</span>
        </a></li>
      <li><a [routerLink]="'/aboutus'" class="item-aboutus">
          <span class="text" translate>main_menu_aboutus</span>
        </a></li>
      <li><a [routerLink]="'/collaborations'" class="item-collaborations">
          <span class="text" translate>main_menu_collaborations</span>
        </a></li>
      <li><a [routerLink]="'/domains'" class="item-domains">
          <span class="text" translate>main_menu_domains</span>
        </a></li>
      <li><a [routerLink]="'/team'" class="item-team">
          <span class="text" translate>main_menu_team</span>
        </a></li>
      <li><a [routerLink]="'/contacts'" class="item-contacts">
          <span class="text" translate>main_menu_contacts</span>
        </a></li>
    </ul>
  </div>
-->
</div>
<app-main-footer></app-main-footer>