<app-main-header *ngIf="!isHome()" class="only-desktop"></app-main-header>
<div class="header-mobile" *ngIf="!isHome()">
  <mat-toolbar-row class="first-row">
    <button mat-icon-button (click)="drawer.toggle()" class="menu-icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="menu-spacer"></span>
    <!-- <h1 class="logo">{{'logo_main'|translate}}<small translate>logo_sub</small></h1> -->
    <img class="logo" src="assets/images/common/martafranceschetti-logo.png" alt="Logo - Marta Franceschetti">
  </mat-toolbar-row>
</div>
<mat-drawer-container class="example-container">
  <mat-drawer #drawer mode="side" closed>
    <app-main-side-menu (onCloseMenu)="drawer.close()"></app-main-side-menu>
  </mat-drawer>
  <mat-drawer-content>
    <div class="main-body" role='main' aria-label='Main Content' [ngClass]="{'inner-pages':!isHome()}">
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="btn-cookie" role="button" (click)="cookieModal()" translate>cookie_title</div>
  </mat-drawer-content>
</mat-drawer-container>
<app-main-footer *ngIf="!isHome()"></app-main-footer>