@import '../../../custom-theme.scss'

.home
    display: flex
    .home-content
        flex-grow: 1
    .home-image
        min-width: 40%
        padding-right: 4rem
        img
            width: 100%
            height: auto
            box-shadow: $box-shadow-images
            margin-right: 1rem
            transform: rotate(-3deg)
