<mat-toolbar class="main-header">
    <mat-toolbar-row class="first-row">
        <a [routerLink]="'/'">
            <h1 class="logo">{{'logo_main'|translate}}<small translate>logo_sub</small></h1>
        </a>
        <span class="menu-spacer"></span>
        <div class="right-menu">
            <a mat-button routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                [routerLink]="'/team'"><span [innerHtml]="'main_menu_team'|translate"></span></a>
            <a mat-button routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                [routerLink]="'/mission'"><span [innerHtml]="'main_menu_mission'|translate"></span></a>
            <a mat-button routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                [routerLink]="'/aboutus'"><span [innerHtml]="'main_menu_aboutus'|translate"></span></a>
            <!-- <a mat-button routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                [routerLink]="'/domains'"><span [innerHtml]="'main_menu_domains'|translate"></span></a> -->
            <a mat-button routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                [routerLink]="'/collaborations'"><span [innerHtml]="'main_menu_collaborations'|translate"></span></a>
            <a mat-button routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                [routerLink]="'/contacts'" class="last-item"><span
                    [innerHtml]="'main_menu_contacts'|translate"></span></a>
        </div>
    </mat-toolbar-row>

</mat-toolbar>