// lightgreen

$martafranceschetti-primary-colors: (50: #f5fdec,
    100: #e6fad0,
    200: #d5f7b0,
    300: #c4f390,
    400: #b7f179,
    500: #aaee61,
    600: #a3ec59,
    700: #99e94f,
    800: #90e745,
    900: #7fe233,
    A100: #ffffff,
    A200: #f9fff5,
    A400: #dbffc2,
    A700: #ccffa8,
    contrast: (50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: rgba(black, 0.87),
        400: rgba(black, 0.87),
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: rgba(black, 0.87),
        A200: white,
        A400: white,
        A700: white,
    ));

// purple
$martafranceschetti-accent-colors: (50: #f4e9f5,
    100: #e5c7e6,
    200: #d3a2d5,
    300: #c17dc4,
    400: #b461b8,
    500: #a745ab,
    600: #9f3ea4,
    700: #96369a,
    800: #8c2e91,
    900: #7c1f80,
    A100: #fcbdff,
    A200: #f98aff,
    A400: #f657ff,
    A700: #f53dff,
    contrast: (50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: rgba(black, 0.87),
        400: rgba(black, 0.87),
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: rgba(black, 0.87),
        A200: white,
        A400: white,
        A700: white,
    ));


$primary: #aaee61;
$secondary: #1b834b;
//$third: #006281;
$third: #008c95;

$link-color: $secondary;

$color-mute: #afb2b4;
$color-mute-dark: #909294;
$color-mute-light: #bbc0c3;

$grey: #ccc;
$font-family-logo:'Be Vietnam Pro',
sans-serif;
$font-family-h1:'Be Vietnam Pro',
sans-serif;
$font-family-h2:'Be Vietnam Pro',
sans-serif;

$color-collaboration-cinema: #1ba1e2;
$color-collaboration-culture: #e51400;
$color-collaboration-environment: #60a917;
$color-collaboration-innovation: #647687;

$color-contact: $third;
$color-contacts-martafranceschetti: $color-contact;
$color-contacts-claudiaapostolo: lighten($color-contact, 10%);
$color-contacts-alessiabelli: lighten($color-contact, 20%);
// $color-contacts-martafranceschetti: #44a672;
// $color-contacts-claudiaapostolo: #53cb8b;
// $color-contacts-alessiabelli: #72d4a0;

$box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
0px 2px 2px 0px rgba(0, 0, 0, 0.14),
0px 1px 5px 0px rgba(0, 0, 0, 0.12);
$box-shadow-hover: 0 3px 6px rgba(0, 0, 0, 0.16),
0 3px 6px rgba(0, 0, 0, 0.23);
$box-shadow-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

$box-shadow-images: 0 3px 6px rgba(0, 0, 0, 0.16),
0 3px 6px rgba(0, 0, 0, 0.23);